.logNewApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

textarea {
    resize: vertical;
    min-width: inherit;
}

label, .submit {
    margin-top: 1em;
}